.carousel-slider {
  @media only screen and (min-width: 990px) {
    width: 1200px;
  }
  @media only screen and (min-width: 768px ) and (max-width: 1024px) {
    min-width: 750px;
  }
  @media only screen and (max-width: 900px) {
    min-width: 350px;
  }
  .carousel-list {
    overflow: hidden;
      
    .carousel-track {
      display: flex;
      flex-direction: row;
      justify-content: center ;
      overflow: scroll;
    }
    .carousel-track::-webkit-scrollbar {
      display: none;
    }
  }
}
.carousel__arrow {
  position: absolute;
  top: 45%;
  display: block;
  color: #409cff;
  cursor: pointer;
  opacity: .75;
  transform: translateY(-50%);
  transition: opacity .15s cubic-bezier(.4, 0, 1, 1);
  @media only screen and (min-width: 768px ) and (max-width: 1024px) {
    top: 15%;
   }
  @media only screen and (max-width: 400px) {
    top: 24%;
  }

  &:focus {
    outline: 0;
  }

  &:hover {
    opacity: .5;
  }

  &--left {
    left: 32px;
  }

  &--right {
    right: 32px;
  }
}
  