.header {
    h1 {
        font-size: 34px;
        height: 64px;
        background: #383838;
        color: #fff;
        text-align: center;
    }
}

.search-bar-container {
    padding: 0.5rem 0;
    border-bottom: 0.1rem solid #eee;
    display: flex;
    justify-content: center;

    .search-bar {
        position: relative;
        input {
            border: 0.1rem solid #409cff;
            width: 40vw;
            font-size: 1.0rem;
            height: 2.4rem;
            border-radius: 1rem;
            padding-left: 1rem;
            color: #00AB95;
            outline: none;
            background-color: transparent;
        }
        ul {
            position: absolute;
            width: 100%;
            background-color: #fff;
            color: #606060;
            font-size: 1.2rem;
            padding-left: 0;
            border: 0.6px solid #409cff;
            border-radius: 2rem;
            z-index: 100;
            li{
                list-style: none;
                padding: 1em;
                cursor: pointer;
                text-transform: capitalize;
                border-radius: 2rem;
                font-size: 12px;
            }
        }
    }
}
