html,body{
    margin: 0px;
}

.container{
    // background-color: #fafafa;
    padding-left: 0px;
    margin-bottom: 10px;
    .wrapper {
        .text-center {
            margin-top: 100px;
        }
        .loaded {
            display: none;
            .text-center {
                margin: 100px auto;
                .spinner-boarder {
                    width: 4rem !important;
                    height: 4rem;
                }
            }
        }
        @media only screen and (max-width: 768px) {
            h4 {
                text-align: center;
            }
          }
        .row {
            .col{
                padding-left: 6px;
                padding-right: 6px;
                min-width: 150px;
                max-width: 200px;
                margin-top: 20px;
                .card {
                .card-body {
                    padding: 5px !important;
                    font-size: 14px;
                    min-height: 100px;
                    ul {
                        font-size: 12px;
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        li {
                            display: inline-block;
                            padding-left: 4px;
                            .genre:last-child span {
                                display: none;
                            }
                        }
                    }
                }
                .rating {
                    background: #A80000 ;
                    color: #ffffff;
                    display: inline-block;
                    padding: 1px 4px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    border-radius: 0 2rem 2rem 0;
                    margin-top: 1em;
                    font-size: 1em;
                }
            }
        }
    }   
    }
}