.container {
    .detail-wrapper {
        .card {
            .no-image {
                margin-top: 45%;
                text-align: center;
            }
            @media only screen and (min-width: 900px) {
                min-width: 1100px;
                .col-md-4 {
                    padding-left: 20px;
                }
            }
            .card-img {
                margin-top: 20px;
                width: 90%;
            }
            .card-body {
                margin: 10px;
                color: #000080;
                .showDetails {
                    p {
                        span {
                            padding-right: 10px;
                        }
                    }
                }
            }
        }
    }  
}
